/*html {
  font-family: Verdana;
}*/
.sidebar {
    height: 100%;
    width: 200px;
    position: fixed;
    margin-top: 60px;
    /*padding-top: 40px;*/
    top: 0;
  }
  .sidebar div {
    padding: 8px;
    display: block;
    text-wrap: pretty;
  }
  .body-text {
    margin-left: 200px;
    /*margin-right: 10%;*/
    text-wrap: pretty;
  }